n8n/Sentiment Analysis with LLMs.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Review",
        "formDescription": "how satisfied are you",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Review",
              "fieldType": "textarea",
              "placeholder": "how satisfied are you",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -160,
        256
      ],
      "id": "3ce9768b-e6f4-4e5f-9e1b-95178f818433",
      "name": "On form submission",
      "webhookId": "f55cf7dd-a05d-4467-86bb-ec72573a6479"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your Review'] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in sentiment analysis.\nYou conduct evaluations and determine which of the three options applies:\n\nPositive\nNegative\nNeutral\nYou respond with only one word."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        160,
        400
      ],
      "id": "8ba7328e-2f3f-4fa1-a90a-69a26f5eb753",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        560
      ],
      "id": "ebd02105-148e-4fca-961d-9330b5a38042",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ngMAq8LD5REDAqGx",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        576,
        288
      ],
      "id": "3c45a830-dfab-4576-82b5-aa8b9fb76a32",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pYxYYMu13kaScgeiy23ZM_vxgrH7Wf97FWrprWD6SeY",
          "mode": "list",
          "cachedResultName": "Hotel Review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pYxYYMu13kaScgeiy23ZM_vxgrH7Wf97FWrprWD6SeY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pYxYYMu13kaScgeiy23ZM_vxgrH7Wf97FWrprWD6SeY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Review": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Review",
              "displayName": "Review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        288
      ],
      "id": "a568fbb2-1c76-4471-b7fe-a9e291499d4d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MAn4LagdmYNwrZTm",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5c1d260-137e-4f1b-98b7-a90b38e12846",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba2c5ffee239f2ac8bfeda6efd7ea8ee64621c0e8b330c1597a45ba0e3c14675"
  },
  "id": "u0babqdGUIIPabph",
  "tags": []
}